<footer>
  <div class="container">
    <div class="pull-right">
      <ul class="footer_menu">
        {{navigation}}
        <li><a id="scroll_top" href="#cover">Top ↑</a></li>
      </ul>
    </div>
    <div class="info pull-left">{{> copyright}}</div>
  </div>
</footer>