<div class="right-col col-md-4">
	<div class="box">
		{{> widget-about-me}}
	</div>
	<div class="box">
		{{> widget-social}}
	</div>
	<div class="box">
		{{> widget-recent-post}}
	</div>
	<div class="box">
		{{> widget-tagcloud}}
	</div>
	<div class="box">
		{{> widget-facebook-likebox}}
	</div>
	<div class="box">
		{{> widget-twitter}}
	</div>
</div>


