<div class="widget widget-flickr">
	<h3 class="title">Flickr Stream</h3>
	<div class="widget-content">
		<ul class="flickr-feed clearfix" data-mode="gallery" data-size="6" data-popup-preview="true">
		</ul>
	</div>
</div>