<div class="widget widget-follow-us-group">
    <h3 class="title">Follow Us</h3>
	<div class="widget-content social_widget">
				
		<a class="social social_outline twitter" target="_blank" href="https://twitter.com/woowebsite"><i class="fa fa-twitter"></i></a>

		<a class="social social_outline facebook" target="_blank" href="https://facebook.com/woowebsite"><i class="fa fa-facebook"></i></a>

		<a class="social social_outline google" target="_blank" href="https://plus.google.com/u/0/114973838439542811655"><i class="fa fa-google-plus"></i></a>

		<a class="social social_outline dribbble" target="_blank" href="http://dribbble.com"><i class="fa fa-dribbble"></i></a>

		<a class="social social_outline instagram" target="_blank" href="http://instagram.com"><i class="fa fa-instagram"></i></a>

		<a class="social social_outline rss" target="_blank" href="http://orca-ghost.ecko.me/rss/"><i class="fa fa-rss"></i></a>

		<a class="social social_outline github" target="_blank" href="http://github.com"><i class="fa fa-github"></i></a>

		<a class="social social_outline youtube" target="_blank" href="http://youtube.com"><i class="fa fa-youtube"></i></a>

		<a class="social social_outline pinterest" target="_blank" href="http://pinterest.com"><i class="fa fa-pinterest"></i></a>

		<a class="social social_outline linkedin" target="_blank" href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>

		<a class="social social_outline skype" target="_blank" href="http://skype.com"><i class="fa fa-skype"></i></a>

		<a class="social social_outline tumblr" target="_blank" href="http://tumblr.com"><i class="fa fa-tumblr"></i></a>		
	</div>
</div>