<div class="widget widget-follow-us-group">
	<div class="widget-content social_widget">
				
		<a class="social social_outline twitter" target="_blank" href="https://twitter.com/woowebsite"><i class="fa fa-twitter"></i></a>

		<a class="social social_outline facebook" target="_blank" href="https://facebook.com/woowebsite"><i class="fa fa-facebook"></i></a>

		<a class="social social_outline google" target="_blank" href="https://plus.google.com/u/0/114973838439542811655"><i class="fa fa-google-plus"></i></a>

		<a class="social social_outline dribbble" target="_blank" href="http://dribbble.com"><i class="fa fa-dribbble"></i></a>

		<a class="social social_outline instagram" target="_blank" href="http://instagram.com"><i class="fa fa-instagram"></i></a>

		<a class="social social_outline rss" target="_blank" href="http://orca-ghost.ecko.me/rss/"><i class="fa fa-rss"></i></a>

		<a class="social social_outline youtube" target="_blank" href="http://youtube.com"><i class="fa fa-youtube"></i></a>

	</div>
</div>