<!-- start tag cloud widget -->
<div class="widget widget-newsletter">
	<h4 class="title">Newsletter</h4>
	<div class="content newsletter">
		<p>Subscribe to our newsletter</p>
		<div id="mc_embed_signup">
			<form action="#" method="post" id="subscribe-form" name="subscribe-form" class="validate" novalidate>
				<p class="">
					<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter your email...">
				</p>
				<p class="">
					<input type="submit" value="Subscribe" name="subscribe" id="subscribe" class="btn btn-primary">
				</p>
			</form>
		</div>
		<div id="message"></div>
	</div>
</div>
<!-- end tag cloud widget -->